* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
  -ms-touch-action: none;
  -ms-content-zooming: none;
}
